
  .main {
    max-width: 1360px;
    max-height: 100%;
    margin: 0 auto;
  }

  .selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 125px 100px;
    grid-template-areas:
      ". . ."
      ". . .";
  }

  .selection__item {
    height: 200px;
    background-color: #244942;
    margin: 10px;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    height: 100vh;
  }
  .welcome__text {
    /* width: 50%; */
    font-family: "Waiting for the Sunrise", cursive;
    font-size: 5.275rem;
    font-weight: bold;
    color: white;
  }
  .welcome__text:nth-child(2) {
    align-self: center;
    width: 75%;
  }